.contact-us {
    background-color: $light-blue;

    .sub-header {
        padding: 40px 0;

        h2 {
            text-align: center;
        }
    }
}

.contact-copy h4 {
    padding: 30px 0;
    font-size: 2.7rem;
}

.contact-copy p {
    width: 70%;
    color: #000;
    padding-bottom: 20px;
}

.contact-copy ul {
    color: #000;
    list-style: square;
    padding-left: 4rem;
}

.form-container {
    display: flex;
    flex-direction: column;

    .quote {
        align-self: center;
        margin-top: 20px;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

label {
    margin: 5px;
    color: #000;
}

.name,
.email,
.number {
    color: #000;
    margin: 5px;
    height: 50px;
    display: flex;
    padding: 20px;
    border: none;
    border: 2px solid $baby;

    &:hover, 
    &:focus-within {
        background: $grey;
    }
}

.textarea-2 {
    color: #000;
    height: 200px;
    margin: 5px;
    padding: 20px;
    border: 2px solid $baby;

    &:hover, 
    &:focus-within {
        background: $grey;
    }
}