nav {
    background-color: #FFF;
}
.navbar {
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $blue;

    ul {
        display: flex;
        padding-top: 20px;
        
        li {
            margin-left: 30px;
        }

    }
}

.logo-container{
    margin-top: 5px;
    min-width: 50%;
    display: flex;
    // flex-wrap: wrap;

    .logo {
        max-width: 60px;
        min-width: 60px;
        height: 75px;
        align-self: center;
    }
}

h1 {
    font-family: 'Oswald' sans-serif;
    text-shadow: 1px 1px 1px $light-blue;
    
    font-size: 6rem;
    color: #000;
    letter-spacing: 1px;
}

.headings {
    margin-top: 20px;
    margin-left: 20px;

    p {
        font-size: 2.5rem;
    }
}

header {
    height: 70vh;
    background-image: url(../assets/scott-webb-avcrl_kNXrA-unsplash.jpg);
    background-size: cover;
    background-color: $blue;
    // background-blend-mode: multiply;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    height: 35vh;
    width: 50%;
    // padding: 20px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: transparent;
    color: $blue;
    // border: 5px double $white;
}

.quote {
    width: 200px;
    padding: 15px 0;
    border: 2px solid $white;
    // border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: "Oswald", sans-serif;
    // letter-spacing: 1px;
    // font-weight: 700;
    // margin-right: 30px;
    // margin-bottom: 20px;
    transition: all 0.2s ease;
    background: $blue;
    cursor: pointer;

    &:hover, 
    &:focus-within {
        border: 2px solid #fff;
        // transform: scale(0.99);
    }
}