
.landing h2 {
    padding: 50px;
    text-align: center;
}
.our-company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.big-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65%;
    background: $grey;
    padding: 30px;
    border: 8px solid $blue;
    border-style: double;


    p {
        width: 90%;
        color: $black;
        padding: 10px;
        font-size: 2.3rem;
    }
}

.condo {
    width: 30%;
    
    img {
        box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 3px;
    }
}

.tssa {
    max-width: 100px;
}

// icon styles 

.flex-icon {
    background-color: $light-blue;
    padding: 45px 0;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            border: 3px solid $blue;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            line-height: 50px;
            padding: 15px;
        }
    }
}

.icon h3 {
    padding: 20px 0;
    color: $blue;
}

.icon p {
    width: 250px;
    text-align: center;
    color: $black;
}

// photo section

.blue {
    margin: 90px 0;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .blurb {
        background: $grey;
        padding: 30px;
        border: 8px solid $blue;
        border-style: double;
        color: $black;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            padding-bottom: 40px;
        }
    }
}

.services {
    align-self: center;
}

.photo-1, .photo-2 {
    width: 30%;
    height: 500px;
    padding-top: 40px;
    margin: 20px;

    img {
        border-radius: 3px;
        object-fit: cover;
        box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}

// footer styles

footer {
    background-color: $blue;
    color: #FFF;
    padding: 50px 0 0;

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40vh;

        h3 {
            color: #FFF;
        }
    }
}

.foot-info, .business, .contact-info {
    width: 30%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hours h4 {
    padding-bottom: 10px;
}

.logo-2 {
    width: 220px;
    align-self: center;
}

.two {
    max-width: 250px;
    background-color: #FFF;
    color: $blue;
}

.contact-info li {
    padding-bottom: 10px;

    a:hover, 
    a:focus-within {
        color: $baby;
    }
}

.copyright {
    text-align: center;
    background: #fff;
    color: $blue;
    margin-top: 50px;
    font-size: 1.8rem;

    a {
        color: $baby;
        font-weight: 700;
    }
}




