// .gallery-box {
//     position: relative;
// }

.slide-container {
    // width: 100%;
    position: relative;
    height: 500px;
    // position: relative;
    // margin: auto;
    // width: 60%;
    // margin: auto;
    // border: 5px solid $blue;
    transition: 0.4s ease-in-out;
    // overflow: hidden;
}

.slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    
    img {
        height: 100%;
        object-fit: contain;
    }
}

.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    background-color: $grey;
    color: $blue;
    border-radius: 3px;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.4s;
    z-index: 100;

    &:hover, 
    &:focus-within {
        background-color: $light-blue;
    }

}

.next {
    right: 5rem;
}

.prev {
    left: 5rem;
}

.navigation-dots {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.single-dot {
    background: $blue;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.4s;
}

.single-dot.active {
    background-color: $light-blue;
}