html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #00599a;
  font-family: "Karma", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

body,
ul,
h1,
h2,
h3,
h4,
p,
form {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  color: #121212;
  font-size: 3rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway";
  letter-spacing: 2px;
}

p {
  line-height: 1.5;
}

.navbar {
  height: 18vh;
  width: 100vw;
  background-color: #FFF;
}
.navbar .nav-flex {
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #00599a;
  position: relative;
}
.navbar .nav-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
.navbar .nav-flex ul li {
  margin-left: 30px;
  border-bottom: 2px solid transparent;
}
.navbar .nav-flex ul li:hover, .navbar .nav-flex ul li:focus-within {
  border-bottom: 2px solid #121212;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo-container {
  margin-top: 5px;
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-container .logo {
  max-width: 60px;
  min-width: 60px;
  height: 75px;
  -ms-flex-item-align: center;
      align-self: center;
}

aside {
  position: absolute;
  bottom: 20px;
  right: 0;
}

h1 {
  font-family: "Oswald" sans-serif;
  text-shadow: 1px 1px 1px #548AD1;
  font-size: 6rem;
  color: #121212;
  letter-spacing: 1px;
}

.headings {
  margin-top: 20px;
  margin-left: 20px;
}
.headings p {
  font-size: 2.5rem;
}

header {
  height: 75vh;
  background-image: url(../assets/scott-webb-avcrl_kNXrA-unsplash.jpg);
  background-size: cover;
  background-color: #00599a;
  background-blend-mode: lighten;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.info {
  height: 45vh;
  width: 50%;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: transparent;
  color: #00599a;
}
.info h3 a:hover,
.info h3 a:focus-within {
  color: #548AD1;
}

.quote {
  display: inline-block;
  width: 200px;
  padding: 15px 0;
  border: 2px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: "Titillum Web", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #00599a;
  cursor: pointer;
}
.quote:hover, .quote:focus-within {
  border: 2px solid #fff;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.our-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 0 100px;
}
.our-company h2 {
  padding-bottom: 50px;
}

.big-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  background: #F0F0F0;
  padding: 30px;
  border: 8px solid #00599a;
  border-style: double;
}
.big-box p {
  width: 85%;
  color: #121212;
  padding: 10px;
  font-size: 2.3rem;
}

.tssa {
  max-width: 100px;
  -ms-flex-item-align: center;
      align-self: center;
}

.flex-icon {
  background-color: #dff1ff;
  height: 45vh;
  padding: 45px 0;
}

.icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons .icon a {
  border: 3px solid #00599a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 50px;
  padding: 15px;
}

.icon h3 {
  padding: 20px 0;
  color: #00599a;
}

.icon p {
  width: 250px;
  text-align: center;
  color: #121212;
}

.blue {
  margin: 90px 0;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-content .blurb {
  background: #F0F0F0;
  padding: 30px;
  margin: 10px;
  border: 8px solid #00599a;
  border-style: double;
  color: #121212;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-content .blurb p {
  padding-bottom: 60px;
}

.services {
  -ms-flex-item-align: center;
      align-self: center;
}

.photo-1, .photo-2 {
  min-width: 25%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 500px;
}
.photo-1 img, .photo-2 img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #00599a;
  color: #FFF;
  padding: 50px 0 0;
}
footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}
footer .footer-flex h3 {
  color: #FFF;
}

.foot-info, .business, .contact-info {
  width: 30%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hours h4 {
  padding-bottom: 10px;
}

.logo-2 {
  max-width: 150px;
  min-width: 150px;
  border: 8px solid #FFF;
  border-style: double;
  -ms-flex-item-align: center;
      align-self: center;
}

.two {
  width: 250px;
  background-color: #FFF;
  color: #00599a;
}

.contact-info li {
  padding-bottom: 10px;
}
.contact-info li a:hover,
.contact-info li a:focus-within {
  color: #548AD1;
}

.copyright {
  text-align: center;
  background: #fff;
  color: #00599a;
  margin-top: 50px;
  font-size: 1.8rem;
}
.copyright a {
  color: #548AD1;
  font-weight: 700;
}

.contact-us {
  background-color: #dff1ff;
}
.contact-us .sub-header {
  padding: 40px 0;
}
.contact-us .sub-header h2 {
  text-align: center;
}

.contact-copy h4 {
  padding: 30px 0;
  font-size: 2.7rem;
}

.contact-copy p {
  width: 70%;
  color: #000;
  padding-bottom: 20px;
}

.contact-copy ul {
  color: #000;
  list-style: square;
  padding-left: 4rem;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-container .quote {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
}

label {
  margin: 5px;
  color: #000;
}

.name,
.email,
.number {
  color: #000;
  margin: 5px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border: none;
  border: 2px solid #548AD1;
}
.name:hover, .name:focus-within,
.email:hover,
.email:focus-within,
.number:hover,
.number:focus-within {
  background: #F0F0F0;
}

.textarea-2 {
  color: #000;
  height: 200px;
  margin: 5px;
  padding: 20px;
  border: 2px solid #548AD1;
}
.textarea-2:hover, .textarea-2:focus-within {
  background: #F0F0F0;
}

.slide-container {
  position: relative;
  height: 500px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slide-image img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  background-color: #F0F0F0;
  color: #00599a;
  border-radius: 3px;
  font-weight: bold;
  font-size: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 100;
}
.prev:hover, .prev:focus-within,
.next:hover,
.next:focus-within {
  background-color: #dff1ff;
}

.next {
  right: 5rem;
}

.prev {
  left: 5rem;
}

.navigation-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.single-dot {
  background: #00599a;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-dot.active {
  background-color: #dff1ff;
}